@{
    ViewData["Title"] = "Home";
}
 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>HealthHub_Records</span></h2>
                <p class="animate__animated animate__fadeInUp">Compassion in care, innovation in treatment, and a commitment to healing - our hospital is dedicated to providing the highest quality healthcare with a human touch. Your well-being is our priority, and we strive to make every moment a step towards a healthier, brighter future.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">HealthHub_Records</h2>
                <p class="animate__animated animate__fadeInUp">  Trust in our expertise, experience the difference, and let us be your partner on the path to recovery and wellness.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">HealthHub_Records</h2>
                <p class="animate__animated animate__fadeInUp">Your health, your choice, your hospital. We're here to empower your well-being, every step of the way.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Patient Registration</a></h4>
                        <p class="description">Patients register themselves here and get benifits</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Record Keeping</a></h4>
                        <p class="description">Patients store there medical history here </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Hospitals Registration</a></h4>
                        <p class="description">Hospital register themselves here</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Online Appoitments</a></h4>
                        <p class="description">Hospital sets appoitments for patients</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/images/4.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Patient</a></h4>
                        <p class="description">Your health is our priority. As a patient, you're at the center of our care, and we're here to guide you on your journey to wellness.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Hospital</a></h4>
                        <p class="description">We're dedicated to providing exceptional care. We strive to create a healing environment that prioritizes your well-being and comfort.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Features</h2>
                <p>Patients are the heart of our hospital, and our hospital is the lifeline of their health. Together, we build a bridge to healing and hope, nurturing a partnership that's truly life-changing.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Automation</h3>
                    <p>
                        Online Management Solution that will serve as a proposal to help the hospitals and patients 
                        to save time and resources with the automation of its Daily health care.
                        
         
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Time Saving</h3>
                    <p>
                        Reducing patients waiting time and increasing the number of patients served a system that  is
                        fully automaated , user-friendly, time effective and efficient.
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>Emergency</h3>
                    <p>
                       In case of emergency the hospital needs only to know the Id of the patient, to know the complete 
                       medical record of the patient to start the treatement  immediately.
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Digitalized</h3>
                    
                    <p>
                        Most current systems have a physical foundation that is the root cause to quite a nummber 
                        of problems by maaintaining multiple up fronts, it will be easy for the everyone using our 
                        system to take treatment or give one.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->