@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    Layout = "_PatientLayout";
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");

    @if (!userId.HasValue)
    {
        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}
<body style="background-image:url('/images/pdf.png')">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;text-align:center">
                <div class="card-header"><h3 style="color:white">Total MedicalReports</h3></div>
                <div class="card-body">
                    <h1 class="card-title" style="color:white;text-align:center">@ViewBag.TotalReports</h1>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;text-align:center">
                <div class="card-header"><h3 style="color:white">Total Appointments</h3></div>
                <div class="card-body">
                    <h1 class="card-title" style="color:white;text-align:center">@ViewBag.TotalAppoinments</h1>

                </div>
            </div>
        </div>
      
    </div>
</body>
